<div class="">
    <div class="flex flex-col flex-1 gap-6">
        <ng-container *ngFor="let section of sectionList">
            <ng-container *ngIf="section.enabled">
                <section id="{{section.key}}" class="w-full grid grid-cols-12 gap-4">
                    <ng-container *ngFor="let column of section.column">
                        <div class="col-span-{{column.colspan || 12}} {{column.background}}">
                            <ng-container *ngIf="column.enabled" [ngSwitch]="column.key">
                                <ng-container *ngSwitchCase="'banner'" [ngTemplateOutlet]="banner"
                                    [ngTemplateOutletContext]="{data: column.data}"></ng-container>
                                <ng-container *ngSwitchCase="'stats'" [ngTemplateOutlet]="stats"
                                    [ngTemplateOutletContext]="{stats: column.data}"></ng-container>
                                <ng-container *ngSwitchCase="'contentStrip'" [ngTemplateOutlet]="contentStrip"
                                    [ngTemplateOutletContext]="{contentStrip: column.data}"></ng-container>
                                <ng-container *ngSwitchCase="'calendar'" [ngTemplateOutlet]="calendar"
                                    [ngTemplateOutletContext]="{calendar: column.data}"></ng-container>
                                <ng-container *ngSwitchCase="'users'" [ngTemplateOutlet]="users"
                                    [ngTemplateOutletContext]="{users: column.data}"></ng-container>
                                <ng-container *ngSwitchCase="'competency'" [ngTemplateOutlet]="competency"
                                    [ngTemplateOutletContext]="{competency: column}"></ng-container>
                                <ng-container *ngSwitchCase="'learner'" [ngTemplateOutlet]="learner"
                                    [ngTemplateOutletContext]="{learner: column.data}"></ng-container>
                                <ng-container *ngSwitchCase="'bmetrics'" [ngTemplateOutlet]="bmetrics"
                                    [ngTemplateOutletContext]="{bmetrics: column}"></ng-container>
                                <ng-container *ngSwitchCase="'mbmetrics'" [ngTemplateOutlet]="mbmetrics"
                                    [ngTemplateOutletContext]="{mbmetrics: column}"></ng-container>
                                <ng-container *ngSwitchCase="'infra'" [ngTemplateOutlet]="infra"
                                    [ngTemplateOutletContext]="{infra: column}"></ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </section>
            </ng-container>
        </ng-container>
        <!-- <section>
            <div class="slider" *ngIf="sliderData">
                <ws-widget-sliders [widgetData]="sliderData"></ws-widget-sliders>
            </div>
        </section>
        <section>
            <div class="flex justify-between banner-container">
                <div class="flex flex-1 logo-box">
                    <img _ngcontent-xdw-c7="" alt="Application Logo" class="app-logo w-full" [src]="banner2.logo">
                </div>
                <div class="flex-1 flex flex-col">
                    <h1>{{banner2.title}}</h1>
                    <p>{{banner2.description}}</p>
                </div>
                <div class="slider slider-box" *ngIf="sliderData">
                    <ws-widget-sliders [widgetData]="sliderData"></ws-widget-sliders>
                </div>
            </div>
        </section>
        <section >
            Stats
            <div class="stats-container">
                <ng-container *ngFor="let stat of stats">
                    <div class="stats-item flex-1 ws-mat-primary-background mr-2">
                        <div  class="icon mr-5">
                           <mat-icon class="text-white">{{stat.icon}}</mat-icon>
                        </div>
                        <div class="stat-data">
                            <h1 class="text-white">{{stat.value}}</h1>
                            <p class="text-white fw-normal mt-2">{{stat.label}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </section>
        <section>
            Recently added content
            <ws-widget-content-strip-with-tabs [widgetData]="contentStrip"></ws-widget-content-strip-with-tabs>
        </section>
        <section>
            Top content
        </section>
        <section>
            what our learners saying?
        </section> -->
    </div>
</div>

<ng-template #banner let-data="data">
    <div class="flex justify-between banner-container">
        <div class="flex flex-1 logo-box">
            <img alt="Application Logo" class="app-logo w-full" [src]="data.logo">
        </div>
        <div class="flex-1 flex flex-col">
            <h1>{{data.title}}</h1>
            <p>{{data.description}}</p>
        </div>
        <div class="slider slider-box" *ngIf="data.sliders">
            <ws-widget-sliders [widgetData]="data.sliders"></ws-widget-sliders>
        </div>
    </div>
</ng-template>


<ng-template #stats let-stats="stats">
    <!-- <div class="stats-container w-full grid grid-cols-12 gap-4"> -->
    <div class="stats-container">
        <ng-container *ngFor="let stat of stats">
            <!-- <div class="col-span-{{stat.colspan || 12}}"> -->
                <div class="stats-item flex-1 ws-mat-primary-background mr-2">
                    <div class="icon mr-5">
                        <mat-icon class="text-white">{{stat.icon}}</mat-icon>
                    </div>
                    <div class="stat-data flex-1">
                        <h1 class="text-white">{{stat.value}}</h1>
                        <p class="text-white fw-normal mt-2">{{stat.label}}</p>
                    </div>
                </div>
            <!-- </div> -->
        </ng-container>
    </div>
    <!-- </div> -->
</ng-template>

<ng-template #contentStrip let-contentStrip="contentStrip">
    <div class="w-full">
        <ws-widget-content-strip-with-tabs [widgetData]="contentStrip"></ws-widget-content-strip-with-tabs>
    </div>
</ng-template>

<ng-template #calendar let-calendar="calendar">
    <div class="w-full">
        <h1 class="text-center">Calendar coming soon...</h1>
    </div>
</ng-template>

<ng-template #users let-users="users">
    <div class="w-full">
        <h1 class="">users coming soon...</h1>
    </div>
</ng-template>

<!-- Start Competencies -->
<ng-template #competency let-competency="competency">
    <div class="w-full container-balanced">
        <div class="mt-10 mb-10">
            <div class="competency-title">{{competency.title}} <span class="competency-count">({{competency.data.length}})</span></div>
            <div class="flex items-center justify-center gap-8 mt-5 mb-5 competency-filters">
                <div>
                    <button class="filter-button"
                        (click)="filter('Behavioural')"
                        [ngClass]="{'active' : currentFilter === 'Behavioural'}">Behavioural (4)
                    </button>
                </div>
                <div>
                    <button class="filter-button" 
                        [ngClass]="{'active' : currentFilter === 'Functional'}"
                        (click)="filter('Functional')">Functional (6)
                    </button>
                </div>
                <div>
                    <button class="filter-button" 
                        [ngClass]="{'active' : currentFilter === 'Domain'}" 
                        (click)="filter('Domain')">Domain (10)
                    </button>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 w-full grid-flow-row gap-5">
                <div *ngFor="let obj of currentCompetencies">
                    <ws-microsites-competencies [objectData]="obj"></ws-microsites-competencies>
                </div>
            </div>              
        </div>
    </div>
</ng-template>
<!-- End Competencies -->

<ng-template #learners let-learners="learners">
    <div class="w-full ">
        <h1 class="">Learners coming soon...</h1>
    </div>
</ng-template>

<ng-template #bmetrics let-bmetrics="bmetrics">
    <ws-competencies-metrics [objectData]="bmetrics" [layoutType]="'multipleRows'"></ws-competencies-metrics>
</ng-template>

<ng-template #mbmetrics let-mbmetrics="mbmetrics">
    <ws-competencies-metrics [objectData]="mbmetrics" [layoutType]="'singleRow'"></ws-competencies-metrics>
</ng-template>

<ng-template #infra let-infra="infra">
    <ws-competencies-metrics [objectData]="infra" [layoutType]="'gridLayout'"></ws-competencies-metrics>
</ng-template>