<div class="flex-1 flex-col">
    <div class="competency-theme"></div>
    <div class="details flex flex-col">
        <div class="flex flex-col p-4">
            <div class="flex flex-row cursor-pointer">
                <div class="flex flex-row gap-2 items-center">
                    <div class="name">{{objectData.name}}</div>
                    <div class="flex items-baseline">
                        <img src="assets/icons/competency/cp-arrow.svg" class="arrow-img" alt="cp arrow img" />
                    </div>
                </div>
            </div>
            <div class="flex flex-row pt-3 pb-3 description">
                {{ objectData.description }} 
            </div>
            <div class="flex flex-row gap-3 items-center">
                <mat-icon class="content-icon">school</mat-icon>
                <div class="no-of-contents">{{objectData.contentCount}} Contents</div>
            </div>
            <div class="line mt-3 mt-2"></div>
            <div class="flex flex-wrap gap-3 pt-4 chip-container">
                <ng-container *ngFor="let child of objectData.subTheme; let i = index">
                    <div class="chip rounded-full p-2 text-xs chip-ellipsis" [title]="child" [ngClass]="{'hide': (i > 2 && objectData.viewMore)}">
                        {{ child }}
                    </div>
                </ng-container>
                <div class="p-2 info-btn cursor-pointer"
                    *ngIf="objectData.subTheme.length > 2 && objectData.viewMore" (click)="showMore()">
                    View more
                </div>
                <div class="p-2 info-btn cursor-pointer"
                    *ngIf="objectData.subTheme.length > 3 && !objectData.viewMore" (click)="showMore()">
                    View less
                </div>
            </div>
        </div>        
    </div>
</div>